<h2>Patient Dashboard</h2>
<p>Welcome, {{ patient.user.username }}</p>
<p>Name: {{ patient.user.first_name }} {{ patient.user.last_name }}</p>
<p>Address: {{ patient.address_line1 }}</p>
<p>City: {{ patient.city }}</p>
<p>state:{{ patient.state }}</p>
<p>pincode:{{ patient.pincode }}</p>
<p>Profile Picture:</p>
{% if patient.profile_picture and patient.profile_picture.file %}
    <img src="{{ patient.profile_picture.url }}" alt="Profile Picture">
{% else %}
    <p>No profile picture available</p>
{% endif %}
